In [5]:
#10/04/2025
# Let's practice again for all concepts I learnt throughout my journey.
#.split()- it splits the data and stores it in the given variables
str1 = 'hello learners'
a,b = str1.split()  #multiple assignment of variables done here
print(a)
print(b)
print(a,b)

hello
learners
hello learners

In [4]:
str2 = "welcome to data science DEEPJYOTI"
a,b,c,d,e = str2.split()
print(a)
print(b)
print(c)
print(d)
print(e)
print(a,b,c,d,e)

welcome
to
data
science
DEEPJYOTI
welcome to data science DEEPJYOTI

In [8]:
#need to find out the value of log10 of 1000
import math
l = math.log10(1000)
l

3.0

In [15]:
import math
# If the radius of a circle is 2, find the area of the circle
import math
r = 2
area = math.pi*r*r
print(round(area,2))

12.57

In [16]:
#Find the area of the triangle
def area_triangle(height, breadth):
    area = 0.5*height*breadth
    return area

In [18]:
h = int(input("Enter the height:"))
b = int(input("Enter the breadth:"))    
Net_area = area_triangle(height = h, breadth = b)
print(Net_area)

Enter the height: 20
Enter the breadth: 30

300.0

In [19]:
#LIST - list is the heterogeneous , ordered way and mutable data-types
#Functions - .append()- to add value from one after another
#.insert(index, value)
l = [1,2,3,4,5]
l.insert(2,100)
l

[1, 2, 100, 3, 4, 5]

In [20]:
#.extend() - it's used to add one list into another.
L1 = [1,2,3,4]
L2 = [5,6,7,8]
L1.extend(L2)
L1

[1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
#.remove() - it removes elements from the list.
#.pop()- it removes elements by giving the index number in the list.
L = [1,2,3,4,"hello", -100, "hey"]
L.remove("hello")
L

[1, 2, 3, 4, -100, 'hey']

In [22]:
L.pop(5) #index number is given
L

[1, 2, 3, 4, -100]

In [23]:
L.pop(4) # index number of the removed element is given.
L

[1, 2, 3, 4]

In [27]:
#slicing the string and then concatenating them - "Machine Learning"
str = "Machine Learning"
res = []
a = str[0:7]
print(a)
b = str[7:]
print(b)
res = a + b
print(res)

Machine
 Learning
Machine Learning

In [31]:
#.count()- it counts the number of elements in the list.
L=[1,1,2,2,2,2,2,2,2,2,2,2,3,3,5,5,6,5,6,6,6,6,6,9,9,9,9,9,9]
print(L.count(2))
print(L.count(6))

10
6

In [1]:
#Find the odd squares of 1 to 50 and arrange them in a list.
L  = [x**2 for x in range(1,51) if x%2 == 1]
print(L, end = " ")

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401]

In [3]:
#11/04/2025
#Find the even squares of 1 to 50  and arrange them in a list.
even_square = [x**2 for x in range(1,51) if x%2== 0]
print(even_square)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500]

In [8]:
arr = [0,0,1,1,0,1,0,0,0,1,0,1]
a = []
for i in arr:
    if i == 0:
        a.append(i)
b = []
for j in arr:
    if j == 1:
        b.append(j)
res = a + b
print(f"The required result is:{res}")

The required result is:[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

In [25]:
#From the  list below, store the variables ending with 's' placed together in a list.
var = ['apples','mango','banana','grapes','oranges']
res = []
end_letter = 's'
for i in var:
    if i.endswith(end_letter):
        res.append(i)
print(res)

['apples', 'grapes', 'oranges']

In [26]:
#by using list comprehension method
var = ['apples','mango','banana','grapes','oranges']
end_letter = 's'
with_s = [x for x in var if x.endswith(end_letter)]
without_s = [ x for x in var if x not in with_s]
print(with_s)
print(without_s)

['apples', 'grapes', 'oranges']
['mango', 'banana']

In [1]:
#while loop - while loops are used to repeat a block of code as long as specified conditions are true. 
# Display numbers 1 to 6 using while loop.
i = 1
while i <=6:
    print(i, end = " ")
    i = i + 1

1 2 3 4 5 6

In [2]:
#Find the sum of numbers starting from 15 by incrementing 5 only.
num = 15
i = 0
while i <=5:
    num = num + 5
    print(num, end = " ")
    print(i)
    i = i + 1

20 0
25 1
30 2
35 3
40 4
45 5

In [4]:
list = [12,13,14,15,16,17,18,19,20] #Here we are going to iterate every item in the list
i = 0 #initialise i to 0
while i < len(list):
    print(list[i], end = " ")
    i = i + 1

12 13 14 15 16 17 18 19 20

In [7]:
string = "datascience"
i = 0
while i < len(string):
    if string[i] == "e":
        print(True, end = " ")
        i =i + 1
    else:
        print(False, end = " ")
        i = i + 1

False False False False False False False True False False True

In [14]:
#Given a list of numbers, find whether a given number is present in the list.
nums = [1,2,3,4,5,6,7,8,9]
n = 5
found = False
for num in nums:
    if num == n:
        found = True
        break
print(f"The list contains {num} is {found}")

The list contains 5 is True

In [15]:
#From the given list, find the sum of all positive numbers.
nums = [1,-2,3,-4,5,6,7,-9]
sum = 0 #initialise sum to 0
for num in nums:
    if num > 0:
        sum = sum + num
print(f"The sum is:{sum}")

The sum is:22

In [16]:
nums = [10,-22,30,-40,50,60,70,-99]
sum = 0
for num in nums:
    if num > 0:
        sum = sum + num
print(f"The total sum is:{sum}")

The total sum is:220

In [17]:
#Find the multiplication table of any integer by using while loop only.
n = int(input("Enter the number"))
i = 1
while i <= 10:
    print(f"{n}*{i}= {n * i}")
    i = i + 1

Enter the number 12

12*1= 12
12*2= 24
12*3= 36
12*4= 48
12*5= 60
12*6= 72
12*7= 84
12*8= 96
12*9= 108
12*10= 120

In [3]:
#WAP to find the sum of the digits of a number that the user accepts.
num = int(input("Enter the number:"))
r = 0 #set reminder to 0
s = 0 #set sum to 0
while num != 0:
    r = num % 10   #modulus operator is used to get the last digit of the number
    s = s + r      #add this digit to the sum
    num = num//10  #floor division is used to remove the last digit of the number
print(f"The required sum is:{s}")  #this process repeates until num is 0

Enter the number: 2222

The required sum is:8

In [2]:
#taking another example
num = int(input("Enter the number:"))
r = 0
s = 0
while num != 0:
    r = num % 10
    s = s + r
    num = num // 10
    print(s)
print(f"THe total sum is:{s}")

Enter the number: 123456

6
11
15
18
20
21
THe total sum is:21

In [5]:
#problem on if-elif/nested if statements.
#WAP to make a problem of student's mark.
m  = int(input("Enter the mark:"))
if (m >= 0 and m <= 30):
    if m >= 15:
        print("Above bad")
    else:
        print("Below bad")
elif (m >= 31 and m <= 60):
    if m >= 51:
        print("Above average")
    else:
        print("Below Average")
elif (m >= 61 and m <= 100):
    if m >= 80:
        print("Above good")
    else:
        print("Below good")

Enter the mark: 71

Below good

In [26]:
#WAP to manage the ticket collection system for a roller-coaster ride.
h = float(input("Enter the height in feet"))
bill = 0
if h >= 3:
    print("Can ride")
    a = int(input("Enter the age"))
    if a < 12:
        bill = 150
        print("Total ticket price is 150")
    elif (a >= 12 and a <= 18):
         bill = 250
         print("Total ticket price is 250")
    else:
          bill = 500
          print("Total ticket price is 500")
    want_photo = input("Do you want photo ? (Y/N)")
    if want_photo == "Y":
        total_bill = bill + 50
        print(f"The total bill is:{total_bill}")
    else:
        total_bill = bill + 0
        print(f"The total bill is: {total_bill}")
else:
     print("CANT RIDE")

Enter the height in feet 5.8

Can ride

Enter the age 31

Total ticket price is 500

Do you want photo ? (Y/N) Y

The total bill is:550

In [40]:
#WAP by using 'break' statement in nested 'for' loop.
list1 = ["hi","hello","welcome"]
list2 = ["Deep","Rup","Bhaskar"]
for i in list1:
  for j in list2:
    print(i,j, end = " ")
    if i ==  "hello" and j == "Rup" :
     break                            
  print("\nExist from inner loop")
print("\nExit from outer loop")

hi Deep hi Rup hi Bhaskar
Exist from inner loop
hello Deep hello Rup
Exist from inner loop
welcome Deep welcome Rup welcome Bhaskar
Exist from inner loop

Exit from outer loop

In [3]:
#Function and it's applications

def sum(a,b):
    c = a + b
    return c

In [4]:
r = sum(2,3)
print(r)

5

In [5]:
def my_func(name, place):
    return (f"Hello {name}, welcome to {place}")

In [7]:
result = my_func("DEEP", "BANGALORE")
print(result)

Hello DEEP, welcome to BANGALORE

In [14]:
def my_func2(name, place = "BANGALORE"):
  return (f"Hello {name}, welcome to {place}")

In [15]:
result = my_func2("RUPLYOTI")
print(result)

Hello RUPLYOTI, welcome to BANGALORE

In [18]:
#using the function to WAP to sum of two numbers and then add one to it.
def func1(x):
    return x + 1
def func2(a,b):
    c = a + b
    return c
output = func2(20,30)
result = func1(output)
print(f"The required sum is:{result}")

The required sum is:51

In [19]:
#Create a function to calculate the volume of a cuboid.
def vol_cuboid(length, breadth, height):
    volume = length*breadth*height
    return volume

In [20]:
l = int(input("Enter the length:"))
b = int(input("Enter the breadth:"))
h = int(input("Enter the height:"))
result = vol_cuboid(length = l, breadth = b, height = h)
print(f"The required volume is:{result}")

Enter the length: 12
Enter the breadth: 22
Enter the height: 10

The required volume is:2640

In [27]:
#Arbitrary arguments - Arbitrary positional arguments(*args), arbitrary key-word arguments(**kwargs)
def my_sum(*args):
    sum = 0
    for arg in args:
        sum += arg
    return sum

In [29]:
result = my_sum(1,2,3,4,5,6,7,8,9,10)
print(f"The sum is: {result}")

The sum is: 55

In [30]:
def my_func3(**kwargs):
    for key, value in kwargs.items():
         print(key,value)

In [46]:
my_func3(first = "-> Functions are good", second = "-> I like using function")

first -> Functions are good
second -> I like using function

In [34]:
def my_func4(**kwargs):
    for key,value in kwargs.items():
        print(key,value)

In [48]:
my_func4(name = "-> Deep",branch = "-> AEI",passing_year = "-> 2016", employment_status = "-> unemployed")

name -> Deep
branch -> AEI
passing_year -> 2016
employment_status -> unemployed

In [51]:
#Important functions in Python
#Lambda function - it's also called an anonymous function
def even_odd(x):
    if x % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [52]:
even_odd(29)

'Odd'

In [53]:
result = even_odd(30)
print(f"Number is:{result}")

Number is:Even

In [55]:
even_odd = lambda x: "Even" if x%2 == 0 else "Odd"
print(even_odd(20))

Even

In [57]:
#Find odd $ even from the list.
odd_even = [12,13,14,15,16,17,18,18,20,21,22]
result = list(map((lambda x : "Even" if x%2 == 0 else "Odd"),odd_even))  # 'map' function is used to iterate over each object.
print(result)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Even', 'Even', 'Odd', 'Even']

In [58]:
#Find the square of the list-
l = [2,4,6,8,10,12,14,16,18,20]
result = list(map((lambda x : x**2),l))
print(result)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [60]:
num1 = [2,4,6,8,10]
num2 = [3,5,7,9,11]
result_sum = list(map((lambda x,y: x+y),num1,num2))
print(result_sum)
result_multiply = list(map((lambda x,y : x * y), num1, num2))
print(result_multiply)

[5, 9, 13, 17, 21]
[6, 20, 42, 72, 110]

In [71]:
#To change the lower case to  the upper case letters.
words = ['apple','banana','mango','orange']
result = []
for word in words:
    result.append(word.upper())
print(result)

['APPLE', 'BANANA', 'MANGO', 'ORANGE']

In [74]:
from functools import reduce
scores = [60,70,80,90,100]
reduce(lambda x,y : x + y, scores)

400

In [75]:
#WAP to calculate the mean, median, mode by assigning all arguments together  in a function.
import statistics as st
def mean_median_mode(list):
    return st.mean(list), st.median(list), st.mode(list)

In [76]:
a,b,c = mean_median_mode([2,3,4,5,6,7,9,10,11,12])
print(f"The mean is:{a}\n,THe median is:{b}\nThe mode is:{c}")

The mean is:6.9
,THe median is:6.5
The mode is:2

In [78]:
var1 = (10,4,5,2)
a = list(var1)
var2 = (2,3,5,6)
b = list(var2)
res = list(x1**x2 for x1, x2 in zip(a,b))
res

[100, 64, 3125, 64]

In [3]:
var1 = (5,4,7,8)
a = list(var1)
var2 = (2,3,2,2)
b = list(var2)
res = list(x1**x2 for x1,x2 in zip(a,b))
res

[25, 64, 49, 64]

In [14]:
#WAP will display whether the candidate is eligible to vote or not.
def election(age,gender,name):
 if age>= 18:
        if gender == "M":
            print(f"Mr.{name},You can vote now")
        elif gender == "F":
            print(f"Miss.{name}, You can vote now")
 else:
     print("You are not eligible to vote")

In [15]:
a = int(input("Enter the age:"))
g = input("Enter the gender:")
n = input("Enter the name:")
result = election(age = a, gender = g, name = n)

Enter the age: 26
Enter the gender: F
Enter the name: TRISHNA DAS

Miss.TRISHNA DAS, You can vote now

In [39]:


class Voter:
    def __init__(self, name, age, gender, doc):
        self.name = name
        self.age = age
        self.gender = gender.upper()

    def check_eligibility(self):
        if self.age >= 18:
            if self.gender == "M":
                print(f"Mr. {self.name}, you can vote now.")
            elif self.gender == "F":
                print(f"Miss {self.name}, you can vote now.")
            else:
                print(f"{self.name}, you can vote now.")
        else:
            print(f"{self.name}, you are not eligible to vote.")

    def documents_required(self, doc):
        accepted_docs = ["VOTER CARD", "AADHAR CARD"]
        title = "Mr." if self.gender == "M" else "Miss"

        if doc.upper() in accepted_docs:
            print(f"your document is accepted.")
        else:
            print(f"kindly bring the required document first.")


name = input("Enter the name: ")
age = int(input("Enter the age: "))
gender = input("Enter the gender (M/F): ")
doc = input("Enter the availible document:")

voter = Voter(name, age, gender,doc)
voter.documents_required(doc)
voter.check_eligibility()

Enter the name:  PRANITA BARMAN
Enter the age:  25
Enter the gender (M/F):  F
Enter the availible document: AADHAR CARD

your document is accepted.
Miss PRANITA BARMAN, you can vote now.